<!DOCTYPE html>
<%
var rowsCount = 5;
var columnsCount = 9;
var cellSize = 50;
%>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var rowsCount = <%=rowsCount%>;
            var columnsCount = <%=columnsCount%>;
            var cellSize = <%=cellSize%>;

            function Cross() {
                //TODO =======
            }

            function randomInt(upLimit) {
                return Math.round(Math.random() * 100) % upLimit;
            }

            var piecesDesc = {
                '车': {count:2},
                '马': {count:2},
                '相': {count:2},
                '士': {count:2},
                '炮': {count:2},
                '将': {count:1},
                '兵': {count:5}
            };
            var availablePieces = [];
            function createPiece(camp, name, desc) {
                for (var i = 0; i < desc.count; i++) {
                    availablePieces.push({camp: camp, name: name, hidden:true});
                }
            }
            function createPiecesFor(camp) {
                Object.keys(piecesDesc).forEach(function(o){
                    createPiece(camp, o, piecesDesc[o]);
                });
            }
            createPiecesFor('red');
            createPiecesFor('black');

            function popAPieceTo(x, y) {
                if (availablePieces.length > 0) {
                    if (availablePieces.length == 1) {
                        return availablePieces[0];
                    } else {
                        return availablePieces.splice(randomInt(availablePieces.length), 1)[0];
                    }
                } else {
                    return '空';
                }
            }

            var board = [];
            var emptyColumn = Math.floor(columnsCount / 2);
            var emptyRow = rowsCount - 1;
            for (var i = 0; i < rowsCount; i++) {
                board.push([]);
                if (i == emptyRow) {
                    for (var j = 0; j < columnsCount; j++) {
                        board[i].push('空');
                    }
                } else {

                    for (var j = 0; j < columnsCount; j++) {
                        if (j == emptyColumn) {
                            board[i].push('空');
                        } else {
                            board[i].push(popAPieceTo(j, i));
                        }
                    }
                }
            }

            var aiPlayer = {
                play: function() {
                    console.log('电脑假装走了一步。');
                },
            };
            var humanPlayer = {
                selectedAlly: undefined,
                play: function(e) {
                    var clicked = $(e.currentTarget);
                    var x = clicked.css('left');
                    var y = clicked.css('top');
                    x = x.substring(0, x.length - 2) / cellSize;
                    y = y.substring(0, y.length - 2) / cellSize;
                    var cell = board[y][x];
                    if (cell == '空') {
                        clicked.addClass('discovered');
                        if (humanPlayer.selectedAlly == undefined) {
                            console.log('空地，只能点一点。');

                        } else {
                            console.log('空地，进一步判断能不能走。');

                        }
                    } else {
                        if (cell.hidden) {
                            console.log('翻开一颗 ' + cell.camp + ' 棋子。');

                            cell.hidden = false;
                            clicked.addClass('discovered ' + cell.camp).text(cell.name);
                            aiPlayer.play();
                        } else {
                            if (cell.camp == 'red') {
                                console.log('选中一颗己方棋子。');

                                $('.cell').removeClass('selected');
                                clicked.addClass('selected');
                                humanPlayer.selectedAlly = clicked;
                            } else {
                                if (humanPlayer.selectedAlly == undefined) {
                                    console.log('敌方棋子，你只能点一点。');

                                } else {
                                    console.log('敌方棋子，需要判断能不能吃。');

                                }
                            }
                        }
                    }
                },
            };

            $('.cell').click(humanPlayer.play);
        });
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>欢迎赏玩<%= title %></p>
	<div id="board">
	<% for (var i = 0; i < rowsCount; i++) { %>
		<% for (var j = 0; j < columnsCount; j++) { %>
			<div class="cell" style="width:<%=cellSize%>px;height:<%=cellSize%>px;top:<%=i*cellSize%>px;left:<%=j*cellSize%>px;">
			</div>
		<% } %>
		<br>
	<% } %>
	</div>
  </body>
</html>
