<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<%
	var rowsCount = 5;
	var columnsCount = 9;
	var cellSize = 50;
	%>
	<div id="board">
	<% for (var i = 0; i < rowsCount; i++) { %>
		<% for (var j = 0; j < columnsCount; j++) { %>
			<div class="cell"
				style="width:<%=cellSize%>px;height:<%=cellSize%>px;top:<%=i*cellSize%>px;left:<%=j*cellSize%>px;"><%= title %>
			</div>
		<% } %>
		<br>
	<% } %>
	</div>
  </body>
</html>
