<!DOCTYPE html>
<!-- 不缓存 -->
<!-- <META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
<META HTTP-EQUIV="expires" CONTENT="0"> -->

<%
var cellSize = '38px';
%>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include js/index_js %>
  </head>
  <body>
    <!-- <h1><%= title %></h1> -->
    <!-- <p>欢迎赏玩<%= title %></p> -->
    <div class="buttons" style="display: none;">
      <input class='modeButton playerBorder' type='button' id='AI' value='人机对战' />
      <input class='modeButton' type='button' id='Human' value='双人对战' />
    </div>
    <!-- <div class='players'>
      <div id='player1' class ='player playerBorder '>HUMAN</div>
      <div id='player2' class='player '>AI</div>
    </div> -->
    <div id='divFinished'>
   		<div>You Lose!</div>
   		<button>确定</button>
    </div>
    <div id="mainPart">
    	<div id="divMLeft">
    		<div id="board">
    		  <% for (var i = 0; i < rowsCount; i++) { %>
				    <% for (var j = 0; j < columnsCount; j++) { %>
    		      <!-- <div id="cell<%= i %><%= j %>" class="cell <%= i==4||j==4?'discovered':'' %> " style="width:<%=cellSize%>px;height:<%=cellSize%>	px;top:<%=i*cellSize%>px	;left:<%=j*cellSize%>px;" >                
    		      </div> -->
    		      <div id="cell<%= i %><%= j %>" class="cell <%= i==4||j==4?'discovered':'' %> " >                
    		      </div>
				    <% } %>
				    <br>
    		  <% } %>
    		</div>
    		<div id="divDeads">
    			<% for (var i = 0; i < 2; i++) { %>
				    <% for (var j = 0; j < 16; j++) { %>
    		      <!-- <div id="cell<%= i %><%= j %>" class="cell <%= i==4||j==4?'discovered':'' %> " style="width:<%=cellSize%>px;height:<%=cellSize%>	px;top:<%=i*cellSize%>px	;left:<%=j*cellSize%>px;" >                
    		      </div> -->
    		      <div id="cellDead<%= i %><%= j %>" class="cellDead" >                
    		      </div>
				    <% } %>
				    <br>
    		  <% } %>
    		</div>
    	</div>
    	<div id="divMRight">
    		<div id="divCurrCamp">当前：
    			<!-- <div id="currCamp" class="inlineDiv">Player1</div> -->
    			<div id='player1' class ='player inlineDiv'>HUMAN</div>
      			<div id='player2' class='player inlineDiv' style='display: none;'>AI</div>
    		</div>
    		<div id="divAway" class="action1"></div>
    		<div id="divPeace" class="action1"></div>
    		<div id="divSet" class="action2"></div>
    		<div id="divShare" class="action2"></div>
    	</div>
    </div>
    <!-- <div><table id="board">
      <% for (var i = 0; i < rowsCount; i++) { %>
      <tr>
        <% for (var j = 0; j < columnsCount; j++) { %>
        <td id="cell<%= i %><%= j %>" class="cell <%= i==4||j==4?'discovered':'' %> " style="width:<%=cellSize%>px;height:<%=cellSize%>px;top:<%=i*cellSize%>px;left:<%=j*cellSize%>px;" >                
        </td>
        <% } %>
      </tr>
      <% } %>
    </table></div> -->

  </body>
</html>
